---
import Commitment from '../components/about/Commitment.astro'
import Headquarters from '../components/about/Headquarters.astro'
import Hero from '../components/about/Hero.astro'
import Quality from '../components/about/Quality.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Coffeeroasters subscription site">
  <div class="w-full space-y-28 md:space-y-36 xl:space-y-40">
    <Hero />
    <Commitment />
    <Quality />
    <Headquarters />
  </div>
</Layout>
