---
import { Image } from 'astro:assets'

import iconCoffe from '../../assets/home/desktop/icon-coffee-bean.svg'
import iconGift from '../../assets/home/desktop/icon-gift.svg'
import iconTruck from '../../assets/home/desktop/icon-truck.svg'

const cards = [
  {
    title: 'Best quality',
    description:
      'Discover an endless variety of the world’s best artisan coffee from each of our roasters.',
    image: iconCoffe,
    class: 'w-[72px] h-[72px] md:w-[56px] md:h-[56px] lg:w-[72px] lg:h-[72px]',
  },
  {
    title: 'Exclusive benefits',
    description:
      'Special offers and swag when you subscribe, including 30% off your first shipment.',
    image: iconGift,
    class: 'w-[72px] h-[72px] md:w-[56px] md:h-[56px] lg:w-[72px] lg:h-[72px]',
  },
  {
    title: 'Free shipping',
    description: 'We cover the cost and coffee is delivered fast. Peak freshness: guaranteed.',
    image: iconTruck,
    class: 'w-[72px] h-[50px] md:w-[55px] md:h-[39px] lg:w-[72px] lg:h-[50px]',
  },
]
---

<section>
  <div
    class="flex h-[902px] flex-col items-center rounded-[10px] bg-[#2C343E] px-6 pt-16 text-center md:h-[573px] md:px-[74px] md:pt-14 lg:h-[577px] lg:pt-[100px]"
  >
    <h2
      class="mb-6 font-heading text-[28px] font-black leading-[28px] text-light-cream md:text-[32px] md:leading-[48px] lg:text-[40px] lg:leading-[48px]"
    >
      Why choose us?
    </h2>
    <p class="text-[15px] leading-[25px] text-light-cream opacity-80 md:max-w-[521px]">
      A large part of our role is choosing which particular coffees will be featured in our range.
      This means working closely with the best coffee growers to give you a more impactful
      experience on every level.
    </p>
  </div>
  <ul
    class="mt-[-589px] flex flex-col gap-6 px-6 md:mt-[-312px] md:px-[58px] lg:mt-[-256px] lg:flex-row lg:px-[85px]"
  >
    {
      cards.map((card) => (
        <li class="flex h-[382px] flex-col items-center justify-center gap-14 rounded-lg bg-dark-cyan md:h-[180px] md:flex-row lg:h-[382px] lg:flex-col lg:px-12">
          <Image src={card.image} alt="" class={card.class} />
          <div class="flex flex-col items-center gap-6 text-center md:items-start md:gap-4 md:text-left lg:items-center lg:text-center">
            <h3 class="text-light-cream heading-4">{card.title}</h3>
            <p class="max-w-[212px] text-[15px] text-light-cream md:max-w-[344px]">
              {card.description}
            </p>
          </div>
        </li>
      ))
    }
  </ul>
</section>
